<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-8 offset-2">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">
                <%= err.statusCode %> 
            </h4>
            <p>
                <%= err.message %> 
            </p>
            <hr>
            <p class="mb-0">
                <%= err.stack %> 
            </p>
        </div>
    </div>
</div>

<!-- <div class="row mt-5">
    <div class="col-md-12 text-center" style=" font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
        <img src="/images/dizzy-robot-big.png" alt="Error-Image" class="w-25 d-inline">
        <span class="display-1 ms-5" style="font-size: bold;"><%=err.statusCode%></span>
        <span><%=err.message%> </span>
    </div>
    
</div> -->